name: Autopublish
on:
  push:
    branches:
      - main

jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        cwd: [javascript, typescript]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Prepare npm auth
        run: echo '//registry.npmjs.org/' > ./.npmrc
      - run: npm ci
        working-directory: ${{ matrix.cwd }}
      - run: |
          echo "//registry.npmjs.org/" > ./.npmrc
          cp ../LICENSE.txt ./LICENSE.txt
          git update-index --assume-unchanged ./
        working-directory: ${{ matrix.cwd }}
      - run: npm run autopublish -- --use-public
        working-directory: ${{ matrix.cwd }}
